body {
  font-family: cursive;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(Images/081aed2e7ddc029f940021ddb22145fc.jpg);
  font-size: 120%;
}
 header {
  background-color: #f8f8f8;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(Images/tumblr_nhihffVyUW1t5mowoo1_500.jpg);
  height: 20%;
}

#header-img {
  width: 100px;
}

#nav-bar {
  margin-top: 10px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-link {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.nav-link:hover {
  color: #007bff;
}

section {
  padding: 100px 20px 20px;
  margin-top: 60px; /* To offset the fixed header */
}

#perfumes .perfume-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#perfumes .perfume {
  margin: 15px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#perfumes .perfume img {
  width: 100%;
  border-radius: 10px;
}

/* Contact Form Styles */
#form {
  margin-top: 20px;
}

#name,#email {
  padding: 10px;
  width: 80%;
  max-width: 300px;
  margin-bottom: 10px;
}

#submit {
  padding: 10px 20px;
  background-color: #f7c111;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover {
  background-color: #e0b60d;
}

footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  margin-top: 40px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .perfume-grid {
    flex-direction: column;
    align-items: center;
  }

  #nav-bar {
    flex-direction: column;
  }

  .nav-link {
    margin: 10px 0;
  }
}
